<div id="carouselExampleIndicators" class="carousel slide slideshow">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row slideshow-row">
            <div class="col-sm-6">
                <span class="slideshow-title">Mở bán khoá học nodejs pro</span>
                <span class="slideshow-description">
                    Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.
                </span>
                <button class="slideshow-button">Học Ngay</button>
            </div>
            <div class="col-sm-4">
              <img src="./img/slideshow.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="row slideshow-row">
            <div class="col-sm-6">
                <span class="slideshow-title">Mở bán khoá học nodejs pro</span>
                <span class="slideshow-description">
                    Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.
                </span>
                <button class="slideshow-button">Học Ngay</button>
            </div>
            <div class="col-sm-4">
              <img src="./img/slideshow2.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="row slideshow-row">
            <div class="col-sm-6">
                <span class="slideshow-title">Mở bán khoá học nodejs pro</span>
                <span class="slideshow-description">
                    Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.Học xong khoá học này là vip pro như admin luôn nhé ! 
                    sẽ được gặp mặt và chụp 1 tấm hình dí admin.
                </span>
                <button class="slideshow-button">Học Ngay</button>
            </div>
            <div class="col-sm-4">
              <img src="./img/slideshow3.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container cousrse">
    <div class="cousrse-title">
        <h1 class="text-course">Khoá học Pro</h1>
        <img class="img-course" src="./img/new.png" alt="">
    </div>
    <div class="row list-courses">
        <div class="col-sm-3 mb-4">
            <a href="/" class="card" style="width: 18rem;" onclick="">
                <img src="./img/course-pro.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lập trình NODEJS</h5>
                    <div class="card-price d-flex">
                        <p class="card-text-old ">1.500.000 đ</p>
                        <p class="card-text">1.000.000 đ</p>
                    </div>
                    <div class="card-bottom d-flex">
                        <div class="author">
                            <img src="./img/profile.png" alt="">
                            <span>Lâm Huệ Trung</span>
                        </div>
                        <div class="number-course">
                            <img src="./img/success.png" alt="">
                            <span>14 Bài học</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
    <div class="cousrse-title">
        <h1 class="text-course">Khoá học miễn phí</h1>
        <img class="img-course" src="./img/free.png" alt="">
    </div>
    <div class="row list-courses">
        <a href="/" class="col-sm-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="./img/course-img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lập trình C++ cơ bản, nâng cao</h5>
                    <div class="card-price d-flex">
                        <p class="card-text-old display-none ">Miễn Phí</p>
                        <p class="card-text">Miễn Phí</p>
                    </div>
                    <div class="card-bottom d-flex">
                        <div class="author">
                            <img src="./img/profile.png" alt="">
                            <span>Lâm Huệ Trung</span>
                        </div>
                        <div class="number-course">
                            <img src="./img/success.png" alt="">
                            <span>14 Bài học</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        
    </div>
</div>