<div class="row footer container-fluid">
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><img class="icon-ithub-footer" src="./img/ihub-icon.png" alt="">Học lập trình cùng ITHub</h5>
        <span class="card-text">Điện thoại: 0763849007</span>
        <span class="card-text">Email: 110121255@st.tvu.edu.vn</span>
        <span class="card-text">Địa chỉ: Nguyễn Thiện Thành, TP. Trà Vinh</span>
      </div>
    </div>
  </div>

  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Về ITHub</h5>
        <a class="card-text" href="">Giới thiệu</a>
        <a class="card-text" href="">Liên hệ</a>
        <a class="card-text" href="">Sự kiện</a>
        <a class="card-text" href="">Trang chủ</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cộng đồng</h5>
        <a class="card-text" href=""><img class="icon-footer" src="./img/facebook.png" alt="">Facebook</a>
        <a class="card-text" href=""><img class="icon-footer" src="./img/zalo.png" alt="">Zalo</a>
        <a class="card-text" href=""><img class="icon-footer" src="./img/youtube.png" alt="">Youtube</a>
        <a class="card-text" href=""><img class="icon-footer" src="./img/slack.png" alt="">Slack</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Huệ Trung coder</h5>
        <a class="card-text" href=""><img class="icon-footer" src="./img/facebook.png" alt="">Facebook</a>
        <a class="card-text" href=""><img class="icon-footer" src="./img/zalo.png" alt="">Zalo</a>
        <a class="card-text" href=""><img class="icon-footer" src="./img/youtube.png" alt="">Youtube</a>
        <a class="card-text" href=""><img class="icon-footer" src="./img/facebook.png" alt="">Github</a>
      </div>
    </div>
  </div>
</div>
<div class="footer-end">© Copyright By @ITHub Club – 2024</div>