<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="icon" src="./img/ihub-icon.png" alt="">Học lập trình cùng ITHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search">
            <img class="icon-search" src="./img/magnifying-glass.png" alt="icon">
            <input class="form-control me-2 input-timkiem" type="search" placeholder="Tìm kiếm khoá học, bài viết, ..." aria-label="Search">
        </form>
        <div>
            <button class="btn btn-outline-dangnhap" type="submit">Đăng nhập</button>
            <button class="btn btn-outline-dangky" type="submit">Đăng ký</button>
        </div>
    </div>
  </div>
</nav>
