<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="icon" src="/img/ihub-icon.png" alt="">Học lập trình cùng ITHub
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex form-search" role="search" action="/Search" method="get" enctype="text/plain">
            <img class="icon-search" src="/img/magnifying-glass.png" alt="icon">
            <input class="form-control me-2 input-timkiem" type="search" name="searchTerm" placeholder="Tìm kiếm khoá học, bài viết, ..." aria-label="Search">
        </form>

        <!-- Nút đăng nhập và đăng ký mặc định -->
        {{#unless isLoggedInUser}}
            <div class="form-button" id="auth-buttons">
                <a class="btn btn-outline-dangnhap" href="/User/Login">Đăng nhập</a>
                <a class="btn btn-outline-dangky" href="/User/Register">Đăng ký</a>
            </div>
        {{/unless}}

        <!-- Thông tin người dùng sau khi đăng nhập thành công -->
        {{#if isLoggedInUser}}
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-size: 16px;">
                  <img id="user-avatar" class="avatar" src="{{dataUser.avatar}}" alt="Avatar" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;">
                {{dataUser.fullName}}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/LoginGoogle/logout">Đăng xuất</a></li>
              </ul>
            </div>
            
        {{/if}}
    </div>
  </div>
</nav>

