<ul class="list-group">
  <li class="list-group-item">
    <a class="name-slidebar" href="/">
        <img class="icon-slidebar" src="/img/home.png" alt="">
        <span class="name-slidebar">Trang chủ</span>
    </a>
  </li>
  <li class="list-group-item">
    <a class="name-slidebar" href="/LearningPath">
        <img class="icon-slidebar" src="/img/route.png" alt="">
        <span class="name-slidebar">Lộ trình</span>
    </a>
  </li>
  <li class="list-group-item">
    <a class="name-slidebar" href="/Blog">
        <img class="icon-slidebar" src="/img/bookmark.png" alt="">
        <span class="name-slidebar">Bài viết</span>
    </a>
  </li>
</ul>