<ul class="list-group slidebar">
  <li class="list-group-item">
    <a class="name-slidebar" href="">
        <img class="icon-slidebar" src="./img/home.png" alt="">
        <span class="name-slidebar">Trang chủ</span>
    </a>
  </li>
  <li class="list-group-item">
    <a class="name-slidebar" href="">
        <img class="icon-slidebar" src="./img/lesson.png" alt="">
        <span class="name-slidebar">Khoá học</span>
    </a>
  </li>
  <li class="list-group-item">
    <a class="name-slidebar" href="">
        <img class="icon-slidebar" src="./img/newspaper.png" alt="">
        <span class="name-slidebar">Bài viết</span>
    </a>
  </li>
</ul>