<a href="/" class="row d-flex previou">
    <img class="icon-previou" src="./img/back.png" alt="">
    <span class="col-sm">Quay lại</span>
</a href="/">
<h1 class="title-blog">Hoàng Bảo Trung - Học viên tiêu biểu của F8 tỏa sáng với dự án "AI Powered Learning"</h1>
<div class="header-blog header-previou d-flex">
    <div class="author">
        <img src="./img/user-LHT.jpg" alt="">
        <span>Lâm Huệ Trung</span>
    </div>
    <div class="save">
        <img class="icon" src="./img/facebook-reactions.png" alt="">
        <span class="number-tuongtac">1000</span>
        <img class="icon" src="./img/heart.png" alt="">
        <span class="number-tuongtac">2000</span>
        <img class="icon" src="./img/save-instagram.png" alt="">
        <span class="number-tuongtac">2000</span>
        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./img/dots.png" alt="">
        </a>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Chia sẻ</a></li>
            <li><a class="dropdown-item" href="#">Đăng lại</a></li>
            <li><a class="dropdown-item" href="#">Khác</a></li>
        </ul>
        
    </div>
</div>
<div>
    <img class="icon-error" src="./img/error.png" alt="">
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
            Swal.fire({
                title: 'Tính năng đang phát triển!',
                text: 'Chúng tôi sẽ sớm cập nhật tính năng này.',
                icon: 'info',
                confirmButtonText: 'Đóng'
            })
    });
    
</script>