<h1 class="title-blog">Bài viết nổi bật</h1>
<p class="short-desc">Tổng hợp các bài viết chia sẻ về kinh nghiệm tự học lập trình online và các kỹ thuật lập trình web.</p>
<div class="row mb-4">
    <div class="col-sm-8 list-blog">
        <ul>
            <li> 
                <div class="header-blog d-flex" onclick="goToDetailPage()">
                    <div class="author">
                        <img src="./img/user-LHT.jpg" alt="">
                        <span>Lâm Huệ Trung</span>
                    </div>
                    <div class="save">
                        <img src="./img/save-instagram.png" alt="">
                        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="./img/dots.png" alt="">
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Chia sẻ</a></li>
                            <li><a class="dropdown-item" href="#">Đăng lại</a></li>
                            <li><a class="dropdown-item" href="#">Khác</a></li>
                        </ul>
                    </div>
                </div>
                <div class="container-blog d-flex" onclick="goToDetailPage()">
                    <div class="content">
                        <h1 class="title">
                            Lập trình cơ bản với laravel lấy điểm môn học 
                        </h1>
                        <p class="short-desc">
                            Laravel is a web application framework with an expressive, elegant syntax. Its belief is that development should be both enjoyable and creative. Laravel attempts.....
                            Laravel is a web application framework with an expressive, elegant syntax. Its belief is that development should be both enjoyable and creative. Laravel attempts.....
                            Laravel is a web application framework with an expressive, elegant syntax. Its belief is that development should be both enjoyable and creative. Laravel attempts.....
                        </p>
                        <span class="timesupload">20/10/2024 18:00:00</span>
                    </div>
                    <img class="img-blog" src="./img/course-pro.png" alt="">
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 suggest-blog">
        <h1 class="title">Xem các bài viết theo chủ đề</h1>
        <button class="btn">Back-end / Devops</button>
        <button class="btn">Front-end / Mobile apps</button>
        <button class="btn">UI / UX / Design</button>
        <button class="btn">Others</button>
        <img src="/img/banner1.png" alt="">
        <img src="/img/banner2.png" alt="">
    </div>
</div>

<script>
    function goToDetailPage() {
        window.location.href = '/Detail'; // Thay đổi đường dẫn nếu cần
    }
</script>
