<div class="_container_juuyp_1"><div class="_container-top_juuyp_10"><h1
      class="_heading_juuyp_22"
    >Lộ trình học Front-end</h1><div
      class="_wrapper_fl251_1 _desc_juuyp_29"
      style="--font-size: 1.2rem; --line-height: 1.8;"
    ><p>Hầu hết các websites hoặc ứng dụng di động đều có 2 phần là Front-end và
        Back-end. Front-end là phần giao diện người dùng nhìn thấy và có thể
        tương tác, đó chính là các ứng dụng mobile hay những website bạn đã từng
        sử dụng. Vì vậy, nhiệm vụ của lập trình viên Front-end là xây dựng các
        giao diện đẹp, dễ sử dụng và tối ưu trải nghiệm người dùng.</p>
      <p>Tại Việt Nam,
        <strong><a
            href="https://bit.ly/3p40c2D"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >lương trung bình</a></strong>
        cho lập trình viên front-end vào khoảng
        <strong>16.000.000đ</strong>
        / tháng.</p>
      <p>Dưới đây là các khóa học F8 đã tạo ra dành cho bất cứ ai theo đuổi sự
        nghiệp trở thành một lập trình viên Front-end.</p>
      <blockquote>
        <p>Các khóa học có thể chưa đầy đủ, F8 vẫn đang nỗ lực hoàn thiện trong
          thời gian sớm nhất.</p>
      </blockquote>
    </div></div><div class="container-body"><section
      class="index-module_row__-AHgh"
    ><section
        class="index-module_col__2EQm9 index-module_c-12__u7UXF index-module_m-12__2CxUL index-module_l-8__yebHm"
      ><div class="_wrapper_8so1c_1"><h2 class="_title_8so1c_5">1. Tìm hiểu về
            ngành IT</h2><p class="_desc_8so1c_11">Để theo ngành IT - Phần mềm
            cần rèn luyện những kỹ năng nào? Bạn đã có sẵn tố chất phù hợp với
            ngành chưa? Cùng thăm quan các công ty IT và tìm hiểu về văn hóa,
            tác phong làm việc của ngành này nhé các bạn.</p><div
            class="body"
          ><div><div class="_wrapper_xq0zw_1"><div class="_inner_xq0zw_8"><div
                    class="_thumb_xq0zw_12"
                  ><a href="/learning/lessons-for-newbie"><img
                        src="https://files.fullstack.edu.vn/f8-prod/courses/7.png"
                        alt="Kiến Thức Nhập Môn IT"
                      /></a></div><div class="_info_xq0zw_21"><h2
                      class="_title_xq0zw_40"
                    ><a href="/learning/lessons-for-newbie">Kiến Thức Nhập Môn
                        IT</a></h2><div class="_price_xq0zw_68"><span
                        class="_free-title_xq0zw_49"
                      >Miễn phí</span></div><p class="_desc_xq0zw_57">Để có cái
                      nhìn tổng quan về ngành IT - Lập trình web các bạn nên xem
                      các videos tại khóa này trước nhé.</p><a
                      link="/learning/lessons-for-newbie"
                      type="button"
                      href="/learning/lessons-for-newbie"
                      class="_wrapper_1kk55_1 _detail-btn_xq0zw_98 _primary_1kk55_46 _rounded_1kk55_22"
                    ><span class="_inner_1kk55_33"><span
                          class="_title_1kk55_61"
                        >Tiếp tục học</span></span></a></div></div></div></div></div></div><div
          class="_wrapper_8so1c_1"
        ><h2 class="_title_8so1c_5">2. HTML và CSS</h2><p
            class="_desc_8so1c_11"
          >Để học web Front-end chúng ta luôn bắt đầu với ngôn ngữ HTML và CSS,
            đây là 2 ngôn ngữ có mặt trong mọi website trên internet. Trong khóa
            học này F8 sẽ chia sẻ từ những kiến thức cơ bản nhất. Sau khóa học
            này bạn sẽ tự làm được 2 giao diện websites là The Band và Shopee.</p><div
            class="body"
          ><div><div class="_wrapper_xq0zw_1"><div class="_inner_xq0zw_8"><div
                    class="_thumb_xq0zw_12"
                  ><a href="/landing/htmlcss"><img
                        src="https://files.fullstack.edu.vn/f8-prod/courses/15/62f13d2424a47.png"
                        alt="HTML CSS Pro"
                      /><div class="_pro-icon_xq0zw_26"><img
                          src="data:image/svg+xml,%3c?xml%20version='1.0'%20encoding='utf-8'?%3e%3c!--%20Generator:%20Adobe%20Illustrator%2025.3.1,%20SVG%20Export%20Plug-In%20.%20SVG%20Version:%206.00%20Build%200)%20--%3e%3csvg%20version='1.1'%20id='Objects'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20x='0px'%20y='0px'%20viewBox='0%200%2032%2032'%20style='enable-background:new%200%200%2032%2032;'%20xml:space='preserve'%3e%3cstyle%20type='text/css'%3e%20.st0{fill:%23FDBE11;}%20.st1{opacity:0.67;fill:%23F99B1C;}%20.st2{opacity:0.53;fill:%23FFFFFF;}%20.st3{opacity:0.55;fill:%23F99B1C;}%20.st4{fill:%23FFBB33;}%20.st5{opacity:0.51;fill:%23FFFFFF;}%20%3c/style%3e%3cg%3e%3cpolygon%20class='st0'%20points='31.6,7.8%2026.3,24%2026.1,24.6%2026.1,24.7%206.5,24.7%206.5,24.6%206.2,23.9%200.4,6.9%209.5,11.8%2015.7,2.6%2016.1,2%2016.2,2.2%2018.6,6%2020.9,9.5%2022.2,11.6%2022.4,11.8%20'/%3e%3cpath%20class='st1'%20d='M26.3,24l-0.2,0.7l0,0.1H6.5l0-0.1l-0.2-0.7c0.1-0.1,0.2-0.1,0.4-0.1h19.3C26,23.8,26.2,23.9,26.3,24z'/%3e%3cpolygon%20class='st2'%20points='18.6,6%2016.2,14.1%2016.2,14.3%2015.8,15.4%2015.3,17.3%2015,18.2%2014.7,19.2%2014.3,20.6%2013.3,23.8%2013.1,24.6%2013,24.7%209,24.7%209.1,24.6%209.3,23.8%2015.7,2.6%2016.1,2%2016.2,2.2%20'/%3e%3cpolygon%20class='st2'%20points='22.2,11.6%2018.6,23.8%2018.3,24.6%2018.3,24.7%2016.3,24.7%2016.3,24.6%2016.6,23.8%2017.4,21%2017.5,20.9%2018.4,17.6%2018.7,16.8%2020.9,9.5%20'/%3e%3cpath%20class='st3'%20d='M16.2,24.7V2.2L18.6,6l2.2,3.5l1.4,2.1l0.1,0.2l9.2-4L26.3,24l-0.2,0.7C26.5,24.8,16.2,24.7,16.2,24.7z'/%3e%3c/g%3e%3cg%3e%3cg%3e%3cpath%20class='st4'%20d='M26.5,28.6c0,0.7-0.3,1.2-0.7,1.4c-0.1,0-0.1,0-0.2,0H7.2c-0.5,0-0.9-0.6-0.9-1.4c0-0.7,0.4-1.3,0.8-1.4%20c0,0,0.1,0,0.1,0h18.4c0.1,0,0.2,0,0.2,0C26.2,27.4,26.5,27.9,26.5,28.6z'/%3e%3cpolygon%20class='st5'%20points='17.8,27.2%2017.8,27.3%2017,30%2017,30%2013,30%2013.8,27.3%2013.8,27.2%20'/%3e%3cpolygon%20class='st5'%20points='23.2,27.2%2023.1,27.3%2022.3,30%2022.3,30%2020.3,30%2020.3,30%2021.1,27.3%2021.2,27.2%20'/%3e%3c/g%3e%3cpath%20class='st3'%20d='M26.5,28.6c0,0.7-0.3,1.2-0.7,1.4c-0.7,0-2,0-3.5,0c-0.3,0-0.6,0-0.9,0c-0.4,0-0.7,0-1.1,0c-1.3,0-2.6,0-3.3,0%20c-0.4,0-0.7,0-0.7,0v-2.8h9.3c0.1,0,0.2,0,0.2,0C26.2,27.4,26.5,27.9,26.5,28.6z'/%3e%3c/g%3e%3c/svg%3e"
                          alt=""
                        /></div></a></div><div class="_info_xq0zw_21"><h2
                      class="_title_xq0zw_40"
                    ><a href="/landing/htmlcss">HTML CSS Pro</a></h2><div
                      class="_price_xq0zw_68"
                    ><span class="_old-price_xq0zw_72">2.500.000đ</span><span
                        class="_main-price_xq0zw_78"
                      >1.299.000đ</span></div><p class="_desc_xq0zw_57">Khóa học
                      HTML CSS Pro phù hợp cho cả người mới bắt đầu, lên tới 8
                      dự án trên Figma, 300+ bài tập và flashcards, tặng 3+
                      games, tặng 20+ Figma để thực hành, cộng đồng học viên Pro
                      nhiệt tình hỗ trợ nhau, mua một lần học mãi mãi.</p><a
                      link="/landing/htmlcss"
                      type="button"
                      href="/landing/htmlcss"
                      class="_wrapper_1kk55_1 _detail-btn_xq0zw_98 _primary_1kk55_46 _rounded_1kk55_22"
                    ><span class="_inner_1kk55_33"><span
                          class="_title_1kk55_61"
                        >Xem khóa học</span></span></a></div></div></div></div><div
            ><div class="_wrapper_xq0zw_1"><div class="_inner_xq0zw_8"><div
                    class="_thumb_xq0zw_12"
                  ><a href="/learning/responsive-web-design"><img
                        src="https://files.fullstack.edu.vn/f8-prod/courses/3.png"
                        alt="Responsive Với Grid System"
                      /></a></div><div class="_info_xq0zw_21"><h2
                      class="_title_xq0zw_40"
                    ><a href="/learning/responsive-web-design">Responsive Với
                        Grid System</a></h2><div class="_price_xq0zw_68"><span
                        class="_free-title_xq0zw_49"
                      >Miễn phí</span></div><p class="_desc_xq0zw_57">Trong khóa
                      này chúng ta sẽ học về cách xây dựng giao diện web
                      responsive với Grid System, tương tự Bootstrap 4.</p><a
                      link="/learning/responsive-web-design"
                      type="button"
                      href="/learning/responsive-web-design"
                      class="_wrapper_1kk55_1 _detail-btn_xq0zw_98 _primary_1kk55_46 _rounded_1kk55_22"
                    ><span class="_inner_1kk55_33"><span
                          class="_title_1kk55_61"
                        >Tiếp tục học</span></span></a></div></div></div></div></div></div><div
          class="_wrapper_8so1c_1"
        ><h2 class="_title_8so1c_5">3. JavaScript</h2><p
            class="_desc_8so1c_11"
          >Với HTML, CSS bạn mới chỉ xây dựng được các websites tĩnh, chỉ bao
            gồm phần giao diện và gần như chưa có xử lý tương tác gì. Để thêm
            nhiều chức năng phong phú và tăng tính tương tác cho website bạn cần
            học Javascript.</p><div class="body"><div><div
                class="_wrapper_xq0zw_1"
              ><div class="_inner_xq0zw_8"><div class="_thumb_xq0zw_12"><a
                      href="/learning/javascript-co-ban"
                    ><img
                        src="https://files.fullstack.edu.vn/f8-prod/courses/1.png"
                        alt="Lập Trình JavaScript Cơ Bản"
                      /></a></div><div class="_info_xq0zw_21"><h2
                      class="_title_xq0zw_40"
                    ><a href="/learning/javascript-co-ban">Lập Trình JavaScript
                        Cơ Bản</a></h2><div class="_price_xq0zw_68"><span
                        class="_free-title_xq0zw_49"
                      >Miễn phí</span></div><p class="_desc_xq0zw_57">Học
                      Javascript cơ bản phù hợp cho người chưa từng học lập
                      trình. Với hơn 100 bài học và có bài tập thực hành sau mỗi
                      bài học.</p><a
                      link="/learning/javascript-co-ban"
                      type="button"
                      href="/learning/javascript-co-ban"
                      class="_wrapper_1kk55_1 _detail-btn_xq0zw_98 _primary_1kk55_46 _rounded_1kk55_22"
                    ><span class="_inner_1kk55_33"><span
                          class="_title_1kk55_61"
                        >Tiếp tục học</span></span></a></div></div></div></div><div
            ><div class="_wrapper_xq0zw_1"><div class="_inner_xq0zw_8"><div
                    class="_thumb_xq0zw_12"
                  ><a href="/learning/javascript-nang-cao"><img
                        src="https://files.fullstack.edu.vn/f8-prod/courses/12.png"
                        alt="Lập Trình JavaScript Nâng Cao"
                      /></a></div><div class="_info_xq0zw_21"><h2
                      class="_title_xq0zw_40"
                    ><a href="/learning/javascript-nang-cao">Lập Trình
                        JavaScript Nâng Cao</a></h2><div
                      class="_price_xq0zw_68"
                    ><span class="_free-title_xq0zw_49">Miễn phí</span></div><p
                      class="_desc_xq0zw_57"
                    >Hiểu sâu hơn về cách Javascript hoạt động, tìm hiểu về
                      IIFE, closure, reference types, this keyword, bind, call,
                      apply, prototype, ...</p><a
                      link="/learning/javascript-nang-cao"
                      type="button"
                      href="/learning/javascript-nang-cao"
                      class="_wrapper_1kk55_1 _detail-btn_xq0zw_98 _primary_1kk55_46 _rounded_1kk55_22"
                    ><span class="_inner_1kk55_33"><span
                          class="_title_1kk55_61"
                        >Tiếp tục học</span></span></a></div></div></div></div></div></div><div
          class="_wrapper_8so1c_1"
        ><h2 class="_title_8so1c_5">4. Sử dụng Ubuntu/Linux</h2><p
            class="_desc_8so1c_11"
          >Cách làm việc với hệ điều hành Ubuntu/Linux qua Windows Terminal
            &amp; WSL. Khi đi làm, nhiều trường hợp bạn cần nắm vững các dòng
            lệnh cơ bản của Ubuntu/Linux.</p><div class="body"><div><div
                class="_wrapper_xq0zw_1"
              ><div class="_inner_xq0zw_8"><div class="_thumb_xq0zw_12"><a
                      href="/learning/windows-terminal-wsl"
                    ><img
                        src="https://files.fullstack.edu.vn/f8-prod/courses/14/624faac11d109.png"
                        alt="Làm việc với Terminal &amp; Ubuntu"
                      /></a></div><div class="_info_xq0zw_21"><h2
                      class="_title_xq0zw_40"
                    ><a href="/learning/windows-terminal-wsl">Làm việc với
                        Terminal &amp; Ubuntu</a></h2><div
                      class="_price_xq0zw_68"
                    ><span class="_free-title_xq0zw_49">Miễn phí</span></div><p
                      class="_desc_xq0zw_57"
                    >Sở hữu một Terminal hiện đại, mạnh mẽ trong tùy biến và học
                      cách làm việc với Ubuntu là một bước quan trọng trên con
                      đường trở thành một Web Developer.</p><a
                      link="/learning/windows-terminal-wsl"
                      type="button"
                      href="/learning/windows-terminal-wsl"
                      class="_wrapper_1kk55_1 _detail-btn_xq0zw_98 _primary_1kk55_46 _rounded_1kk55_22"
                    ><span class="_inner_1kk55_33"><span
                          class="_title_1kk55_61"
                        >Tiếp tục học</span></span></a></div></div></div></div></div></div><div
          class="_wrapper_8so1c_1"
        ><h2 class="_title_8so1c_5">5. Libraries and Frameworks</h2><p
            class="_desc_8so1c_11"
          >Một websites hay ứng dụng hiện đại rất phức tạp, chỉ sử dụng HTML,
            CSS, Javascript theo cách code thuần (tự code từ đầu tới cuối) sẽ
            rất khó khăn. Vì vậy các Libraries, Frameworks ra đời nhằm đơn giản
            hóa, tiết kiệm chi phí và thời gian để hoàn thành một sản phẩm
            website hoặc ứng dụng mobile.</p><div class="body"><div><div
                class="_wrapper_xq0zw_1"
              ><div class="_inner_xq0zw_8"><div class="_thumb_xq0zw_12"><a
                      href="/learning/reactjs"
                    ><img
                        src="https://files.fullstack.edu.vn/f8-prod/courses/13/13.png"
                        alt="Xây Dựng Website với ReactJS"
                      /></a></div><div class="_info_xq0zw_21"><h2
                      class="_title_xq0zw_40"
                    ><a href="/learning/reactjs">Xây Dựng Website với ReactJS</a></h2><div
                      class="_price_xq0zw_68"
                    ><span class="_free-title_xq0zw_49">Miễn phí</span></div><p
                      class="_desc_xq0zw_57"
                    >Khóa học ReactJS từ cơ bản tới nâng cao, kết quả của khóa
                      học này là bạn có thể làm hầu hết các dự án thường gặp với
                      ReactJS. Cuối khóa học này bạn sẽ sở hữu một dự án giống
                      Tiktok.com, bạn có thể tự tin đi xin việc khi nắm chắc các
                      kiến thức được chia sẻ trong khóa học này.</p><a
                      link="/learning/reactjs"
                      type="button"
                      href="/learning/reactjs"
                      class="_wrapper_1kk55_1 _detail-btn_xq0zw_98 _primary_1kk55_46 _rounded_1kk55_22"
                    ><span class="_inner_1kk55_33"><span
                          class="_title_1kk55_61"
                        >Tiếp tục học</span></span></a></div></div></div></div></div></div></section><section
        class="index-module_col__2EQm9 index-module_c-12__u7UXF index-module_m-12__2CxUL index-module_l-4__3tf5p"
      ><div
          class="_wrapper_7gy7h_1 _sticky_7gy7h_5"
          style="--sticky: 80px; --align: flex-end;"
        ><div class="_content_7gy7h_10"><a
              class="_banner_7gy7h_33"
              href="https://fullstack.edu.vn/landing/htmlcss"
              target="_blank"
              rel="noreferrer"
            ><img
                src="https://files.fullstack.edu.vn/f8-prod/banners/22/63dc5f7e5562c.png"
                alt="HTML CSS Pro Banner"
                title="HTML CSS Pro Banner"
              /></a><a
              class="_banner_7gy7h_33"
              href="https://www.youtube.com/c/F8VNOfficial"
              target="_blank"
              rel="noreferrer"
            ><img
                src="https://files.fullstack.edu.vn/f8-prod/banners/31/6421141abacbe.png"
                alt="F8 Youtube Banner"
                title="F8 Youtube Banner"
              /></a></div></div></section></section></div></div>

<style>
    <style type="text/css">.index-module_grid__1q71E {
  padding: 0;
  margin: 0 auto; }

.index-module_fullWidth__3X-6x {
  width: 100%; }

.index-module_wide__3c1pI {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto; }

.index-module_standard__1eywe {
  width: 100%; }

.index-module_row__-AHgh {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px; }

.index-module_outermostRow__CrZFp {
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px; }

.index-module_noGuttersRow__31ccp {
  margin-left: 0;
  margin-right: 0; }

.index-module_col__2EQm9 {
  padding-left: 4px;
  padding-right: 4px; }

.index-module_noGuttersRow__31ccp .index-module_col__2EQm9 {
  padding-left: 0;
  padding-right: 0; }

.index-module_c-0__10PYb {
  display: none; }

.index-module_c-1__43OQL {
  width: 8.33333%; }

.index-module_c-2__3HwBW {
  width: 16.66667%; }

.index-module_c-3__eRcf3 {
  width: 25%; }

.index-module_c-4__1g2uP {
  width: 33.33333%; }

.index-module_c-5__1ztyv {
  width: 41.66667%; }

.index-module_c-6__1Y3qy {
  width: 50%; }

.index-module_c-7__3sqdg {
  width: 58.33333%; }

.index-module_c-8__JPJYE {
  width: 66.66667%; }

.index-module_c-9__3E-ML {
  width: 75%; }

.index-module_c-10__VA3RK {
  width: 83.33333%; }

.index-module_c-11__37Xz9 {
  width: 91.66667%; }

.index-module_c-12__u7UXF {
  width: 100%; }

.index-module_c-o-1__3K0Kd {
  margin-left: 8.33333%; }

.index-module_c-o-2__1-eeJ {
  margin-left: 16.66667%; }

.index-module_c-o-3__2Jsxo {
  margin-left: 25%; }

.index-module_c-o-4__Rmdpn {
  margin-left: 33.33333%; }

.index-module_c-o-5__1E8_p {
  margin-left: 41.66667%; }

.index-module_c-o-6__2jMcI {
  margin-left: 50%; }

.index-module_c-o-7__3rgtc {
  margin-left: 58.33333%; }

.index-module_c-o-8__2cpby {
  margin-left: 66.66667%; }

.index-module_c-o-9__1NPDg {
  margin-left: 75%; }

.index-module_c-o-10__3iFjD {
  margin-left: 83.33333%; }

.index-module_c-o-11__6dA_m {
  margin-left: 91.66667%; }

@media (min-width: 740px) {
  .index-module_outermostGrid__1yC21 {
    padding-left: 8px;
    padding-right: 8px; }
  .index-module_standard__1eywe {
    width: 644px; }
  .index-module_row__-AHgh {
    margin-left: -8px;
    margin-right: -8px; }
  .index-module_outermostRow__CrZFp {
    padding-left: 10px;
    padding-right: 10px; }
  .index-module_noGuttersRow__31ccp {
    margin-left: 0;
    margin-right: 0; }
  .index-module_col__2EQm9 {
    padding-left: 8px;
    padding-right: 8px; }
  .index-module_noGuttersRow__31ccp .index-module_col__2EQm9 {
    padding-left: 0;
    padding-right: 0; }
  .index-module_m-0__18VBx {
    display: none; }
  .index-module_m-1__RBwzD,
  .index-module_m-2__2abUr,
  .index-module_m-3__27S15,
  .index-module_m-4__30Uoi,
  .index-module_m-5__3ruG1,
  .index-module_m-6__30cxf,
  .index-module_m-7__1YGzj,
  .index-module_m-8__1Qk6Z,
  .index-module_m-9__1esJF,
  .index-module_m-10__3r8Vz,
  .index-module_m-11__q46xN,
  .index-module_m-12__2CxUL {
    display: block; }
  .index-module_m-1__RBwzD {
    width: 8.33333%; }
  .index-module_m-2__2abUr {
    width: 16.66667%; }
  .index-module_m-3__27S15 {
    width: 25%; }
  .index-module_m-4__30Uoi {
    width: 33.33333%; }
  .index-module_m-5__3ruG1 {
    width: 41.66667%; }
  .index-module_m-6__30cxf {
    width: 50%; }
  .index-module_m-7__1YGzj {
    width: 58.33333%; }
  .index-module_m-8__1Qk6Z {
    width: 66.66667%; }
  .index-module_m-9__1esJF {
    width: 75%; }
  .index-module_m-10__3r8Vz {
    width: 83.33333%; }
  .index-module_m-11__q46xN {
    width: 91.66667%; }
  .index-module_m-12__2CxUL {
    width: 100%; }
  .index-module_m-o-0__2yGBu {
    margin-left: 0; }
  .index-module_m-o-1__3E3B8 {
    margin-left: 8.33333%; }
  .index-module_m-o-2__10AXx {
    margin-left: 16.66667%; }
  .index-module_m-o-3__kWL-B {
    margin-left: 25%; }
  .index-module_m-o-4__3h3vg {
    margin-left: 33.33333%; }
  .index-module_m-o-5__Irrc8 {
    margin-left: 41.66667%; }
  .index-module_m-o-6__1VGI1 {
    margin-left: 50%; }
  .index-module_m-o-7__1YcNn {
    margin-left: 58.33333%; }
  .index-module_m-o-8__Pzvks {
    margin-left: 66.66667%; }
  .index-module_m-o-9__2x5Ut {
    margin-left: 75%; }
  .index-module_m-o-10__3vT33 {
    margin-left: 83.33333%; }
  .index-module_m-o-11__DKUSR {
    margin-left: 91.66667%; } }

@media (min-width: 1113px) {
  .index-module_outermostGrid__1yC21 {
    padding-left: 24px;
    padding-right: 24px; }
  .index-module_row__-AHgh {
    margin-left: -12px;
    margin-right: -12px; }
  .index-module_outermostRow__CrZFp {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 12px;
    padding-right: 12px; }
  .index-module_noGuttersRow__31ccp {
    margin-left: 0;
    margin-right: 0; }
  .index-module_standard__1eywe {
    width: 984px; }
  .index-module_col__2EQm9 {
    padding-left: 12px;
    padding-right: 12px; }
  .index-module_noGuttersRow__31ccp .index-module_col__2EQm9 {
    padding-left: 0;
    padding-right: 0; }
  .index-module_l-0__1cht5 {
    display: none; }
  .index-module_l-1__3kmgB,
  .index-module_l-2__2TSUm,
  .index-module_l-3__MjWvb,
  .index-module_l-4__3tf5p,
  .index-module_l-5__2UHWy,
  .index-module_l-6__JoV9k,
  .index-module_l-7__kRbS-,
  .index-module_l-8__yebHm,
  .index-module_l-9__3moa5,
  .index-module_l-10__2Xr3t,
  .index-module_l-11__3EcbJ,
  .index-module_l-12__340Ve {
    display: block; }
  .index-module_l-1__3kmgB {
    width: 8.33333%; }
  .index-module_l-2__2TSUm {
    width: 16.66667%; }
  .index-module_l-3__MjWvb {
    width: 25%; }
  .index-module_l-4__3tf5p {
    width: 33.33333%; }
  .index-module_l-5__2UHWy {
    width: 41.66667%; }
  .index-module_l-6__JoV9k {
    width: 50%; }
  .index-module_l-7__kRbS- {
    width: 58.33333%; }
  .index-module_l-8__yebHm {
    width: 66.66667%; }
  .index-module_l-9__3moa5 {
    width: 75%; }
  .index-module_l-10__2Xr3t {
    width: 83.33333%; }
  .index-module_l-11__3EcbJ {
    width: 91.66667%; }
  .index-module_l-12__340Ve {
    width: 100%; }
  .index-module_l-o-0__348Ph {
    margin-left: 0; }
  .index-module_l-o-1__3wI_9 {
    margin-left: 8.33333%; }
  .index-module_l-o-2__2UeH- {
    margin-left: 16.66667%; }
  .index-module_l-o-3__3QBym {
    margin-left: 25%; }
  .index-module_l-o-4__2qzwY {
    margin-left: 33.33333%; }
  .index-module_l-o-5__WBKg5 {
    margin-left: 41.66667%; }
  .index-module_l-o-6__2Y7fW {
    margin-left: 50%; }
  .index-module_l-o-7__2Q-qC {
    margin-left: 58.33333%; }
  .index-module_l-o-8__v2W1b {
    margin-left: 66.66667%; }
  .index-module_l-o-9__2B19w {
    margin-left: 75%; }
  .index-module_l-o-10__1fIk5 {
    margin-left: 83.33333%; }
  .index-module_l-o-11__3V4aH {
    margin-left: 91.66667%; } }

@media (min-width: 740px) and (max-width: 1023px) {
  .index-module_wide__3c1pI {
    width: 644px; } }

@media (min-width: 1024px) and (max-width: 1239px) {
  .index-module_wide__3c1pI {
    width: 984px; }
  .index-module_wide__3c1pI.index-module_outermostGrid__1yC21 {
    padding-left: 24px;
    padding-right: 24px; }
  .index-module_wide__3c1pI .index-module_row__-AHgh {
    margin-left: -12px;
    margin-right: -12px; }
  .index-module_wide__3c1pI .index-module_outermostRow__CrZFp {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 12px;
    padding-right: 12px; }
  .index-module_wide__3c1pI .index-module_noGuttersRow__31ccp {
    margin-left: 0;
    margin-right: 0; }
  .index-module_wide__3c1pI .index-module_standard__1eywe {
    width: 984px; }
  .index-module_wide__3c1pI .index-module_col__2EQm9 {
    padding-left: 12px;
    padding-right: 12px; }
  .index-module_wide__3c1pI .index-module_noGuttersRow__31ccp .index-module_col__2EQm9 {
    padding-left: 0;
    padding-right: 0; }
  .index-module_wide__3c1pI .index-module_l-0__1cht5 {
    display: none; }
  .index-module_wide__3c1pI .index-module_l-1__3kmgB,
  .index-module_wide__3c1pI .index-module_l-2__2TSUm,
  .index-module_wide__3c1pI .index-module_l-3__MjWvb,
  .index-module_wide__3c1pI .index-module_l-4__3tf5p,
  .index-module_wide__3c1pI .index-module_l-5__2UHWy,
  .index-module_wide__3c1pI .index-module_l-6__JoV9k,
  .index-module_wide__3c1pI .index-module_l-7__kRbS-,
  .index-module_wide__3c1pI .index-module_l-8__yebHm,
  .index-module_wide__3c1pI .index-module_l-9__3moa5,
  .index-module_wide__3c1pI .index-module_l-10__2Xr3t,
  .index-module_wide__3c1pI .index-module_l-11__3EcbJ,
  .index-module_wide__3c1pI .index-module_l-12__340Ve {
    display: block; }
  .index-module_wide__3c1pI .index-module_l-1__3kmgB {
    width: 8.33333%; }
  .index-module_wide__3c1pI .index-module_l-2__2TSUm {
    width: 16.66667%; }
  .index-module_wide__3c1pI .index-module_l-3__MjWvb {
    width: 25%; }
  .index-module_wide__3c1pI .index-module_l-4__3tf5p {
    width: 33.33333%; }
  .index-module_wide__3c1pI .index-module_l-5__2UHWy {
    width: 41.66667%; }
  .index-module_wide__3c1pI .index-module_l-6__JoV9k {
    width: 50%; }
  .index-module_wide__3c1pI .index-module_l-7__kRbS- {
    width: 58.33333%; }
  .index-module_wide__3c1pI .index-module_l-8__yebHm {
    width: 66.66667%; }
  .index-module_wide__3c1pI .index-module_l-9__3moa5 {
    width: 75%; }
  .index-module_wide__3c1pI .index-module_l-10__2Xr3t {
    width: 83.33333%; }
  .index-module_wide__3c1pI .index-module_l-11__3EcbJ {
    width: 91.66667%; }
  .index-module_wide__3c1pI .index-module_l-12__340Ve {
    width: 100%; }
  .index-module_wide__3c1pI .index-module_l-o-0__348Ph {
    margin-left: 0; }
  .index-module_wide__3c1pI .index-module_l-o-1__3wI_9 {
    margin-left: 8.33333%; }
  .index-module_wide__3c1pI .index-module_l-o-2__2UeH- {
    margin-left: 16.66667%; }
  .index-module_wide__3c1pI .index-module_l-o-3__3QBym {
    margin-left: 25%; }
  .index-module_wide__3c1pI .index-module_l-o-4__2qzwY {
    margin-left: 33.33333%; }
  .index-module_wide__3c1pI .index-module_l-o-5__WBKg5 {
    margin-left: 41.66667%; }
  .index-module_wide__3c1pI .index-module_l-o-6__2Y7fW {
    margin-left: 50%; }
  .index-module_wide__3c1pI .index-module_l-o-7__2Q-qC {
    margin-left: 58.33333%; }
  .index-module_wide__3c1pI .index-module_l-o-8__v2W1b {
    margin-left: 66.66667%; }
  .index-module_wide__3c1pI .index-module_l-o-9__2B19w {
    margin-left: 75%; }
  .index-module_wide__3c1pI .index-module_l-o-10__1fIk5 {
    margin-left: 83.33333%; }
  .index-module_wide__3c1pI .index-module_l-o-11__3V4aH {
    margin-left: 91.66667%; } }
</style>
</style>