<div class="row trangchitietkhoahoc">
    <div class="col-sm-7">
        <div class="">
            <h1 class="title">Kiến thức nhập môn Laravel</h1>
            <p class="short-description">Để có cái nhìn tổng quan về ngành IT - Lập trình web
các bạn nên xem các videos tại khóa này trước nhé.</p>
        </div>

        <div class="loiichkhoahoc">
            <h1 class="title">Bạn sẽ học được gì?</h1>
            <ul>
                <li>
                    <img src="./img/check-mark.png" alt="">
                    <span>Các kiến thức cơ bản, nền móng của ngành IT</span>
                </li>
                <li>
                    <img src="./img/check-mark.png" alt="">
                    <span>Các kiến thức cơ bản, nền móng của ngành IT</span>
                </li>
                <li>
                    <img src="./img/check-mark.png" alt="">
                    <span>Các kiến thức cơ bản, nền móng của ngành IT</span>
                </li>
                <li>
                    <img src="./img/check-mark.png" alt="">
                    <span>Các kiến thức cơ bản, nền móng của ngành IT</span>
                </li>
                <li>
                    <img src="./img/check-mark.png" alt="">
                    <span>Các kiến thức cơ bản, nền móng của ngành IT</span>
                </li>

            </ul>
        </div>

        <div class="noidungkhoahoc">
            <h1 class="title">Nội dung khoá học</h1>
            <span>4 chương 14 bài học Thời lượng 03 giờ 26 phút</span>
            <div class="dropdown-center">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="./img/plus.png" alt="">
                    <h2>1. Khái niệm kỹ thuật cần biết </h2>
                    <span>3 bài học</span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                </ul>
            </div>
            <div class="dropdown-center">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="./img/plus.png" alt="">
                    <h2>1. Khái niệm kỹ thuật cần biết </h2>
                    <span>3 bài học</span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                </ul>
            </div>
            <div class="dropdown-center">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="./img/plus.png" alt="">
                    <h2>1. Khái niệm kỹ thuật cần biết </h2>
                    <span>3 bài học</span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                </ul>
            </div>
            <div class="dropdown-center">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="./img/plus.png" alt="">
                    <h2>1. Khái niệm kỹ thuật cần biết </h2>
                    <span>3 bài học</span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="col-sm-5 thongtinkhoahoc">
        <img src="./img/course-pro.png" alt="">
        <h1 class="price">miễn phí</h1>
        <button class="btn">Đăng ký học</button>
        <ul>
            <li>
                <img src="./img/level-up.png" alt="">
                <span>Trình độ cơ bản</span>
            </li>
            <li>
                <img src="./img/curriculum.png" alt="">
                <span>Tổng cộng có 14 bài học</span>
            </li>
            <li>
                <img src="./img/clock.png" alt="">
                <span>Thời lượng 2 giờ 30 phút</span>
            </li>
            <li>
                <img src="./img/continous-improvement.png" alt="">
                <span>Học mọi lúc, mọi nơi</span>
            </li>
        </ul>
    </div>
</div>