<div class="col-sm-8 ">
    <div class="video">
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/NvCROoHBtQk?" title="YouTube video player" frameborder="0" allow=" autoplay" ></iframe>
    </div>
    <div class="row content-course d-block">
        <div class="col-sm d-flex">
            <div>
                <h1 class="title-course">Laravel là gì?</h1>
                <span class="thoigiandang">Cập nhật tháng 11 năm 2022</span>
            </div>
            <a>
                <img class="icon-headerLearning" src="./img/post-it.png" alt="">
                <span>Thêm ghi chú</span>
            </a>
        </div>
        <div class="col-sm">
            <div class="comments">
                <div class="d-flex">
                    <span class="sobinhluan">3</span>
                    <h1>Comments</h1>
                </div>
                <form action="">
                    <img class="avt-user" src="./img/user-LHT.jpg" alt="">
                    <button><img class="icon-comment" src="./img/send.png" alt=""></button>
                    <input type="text" name="" id="" placeholder="Viết nhận xét của bạn">
                </form>
                <ul>
                    <li class="d-flex">
                        <img class="avt-user" src="./img/user-LHT.jpg" alt="./img/user-LHT.jpg">
                        <div class="list-comments">
                            <div class="info-user">
                                <span class="name-user">Lâm Huệ Trung</span>
                                <span class="times-comment">2 years ago</span>
                            </div>
                            <p class="content-comments">
                                Chỉ là hình thức thoy huheo, biết code có được như dậy hông 
                                Chỉ là hình thức thoy huheo, biết code có được như dậy hông 
                                Chỉ là hình thức thoy huheo, biết code có được như dậy hông 
                                Chỉ là hình thức thoy huheo, biết code có được như dậy hông 
                                Chỉ là hình thức thoy huheo, biết code có được như dậy hông 
                                </p>
                            <div class="row tuongtac-comment">
                                <div class="col-sm-1">
                                    <a href="">
                                        <img class="icon" src="./img/facebook-reactions.png" alt="">
                                    </a>
                                    <span class="number-tuongtac">1000</span>
                                </div>
                                <div class="col-sm-1">
                                    <a href="">
                                        <img class="icon" src="./img/heart.png" alt="">
                                    </a>
                                    <span class="number-tuongtac">2000</span>
                                </div>
                                <div class="col-sm-1">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle reaplay" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Trả lời
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <form action="">
                                                    <button><img class="icon-reaplay" src="./img/send.png" alt=""></button>
                                                    <input type="text" name="" id="">
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<img id="icon-menu-mobile"  src="./img/next.png" alt="" onclick="menuChange('menu-lesson')">
<div id="menu-lesson" class="col-sm-4">
    <ul class="list-group menu-courses">
        <li class="list-group-item title">Nội dung khoá học <img class="icon-menu" src="./img/back.png" alt="" onclick="menuChange('menu-lesson')"></li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
        <li onclick="change('content-course-1', 'icon-chevron')" class="list-group-item">
            <div id="course-1" class="d-flex over-course">
                <div class="">
                <h1><span>1. </span>Giới thiệu</h1>
                <div class="">
                    <span>1/3 | 5:14</span>
                </div>
            </div>
            <a><img id="icon-chevron" src="./img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-1">
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1><span>1.2 </span> Lời nới đầu tiên </h1>
                        <div class="">
                            <span><img class="icon" src="./img/play.png" alt="">1:20</span>
                        </div>
                    </div>
                </li>

            </ul>
        </li>
    </ul>
</div>

<script>
    function change(id, imgId) {
        const content = document.getElementById(id);
        const icon = document.getElementById(imgId);
        
        if (content.style.display === "block") {
            content.style.display = "none";
            icon.src = "./img/down-chevron.png";
        } else {
            content.style.display = "block";
            icon.src = "./img/up-chevron.png";
        }
    }

    function menuChange(menuId) {
        const menu = document.getElementById(menuId);
        const buttonMoblie = document.getElementById('icon-menu-mobile')

        // Kiểm tra trạng thái hiển thị của menu
        if (menu.style.display === "none") {
            // Mở rộng menu và đổi src của icon-menu thành mũi tên trái
            menu.style.display = "block"; 
            buttonMoblie.style.display = "none";
        } else {
            // Thu gọn menu và đổi src của icon-menu thành mũi tên phải
            menu.style.display = "none";
            buttonMoblie.style.display = "block";
        }
    }
</script>