<div class="_container_juuyp_1"><div class="_container-top_juuyp_10"><h1
      class="_heading_juuyp_22"
    >Lộ trình học</h1><div
      class="_wrapper_fl251_1 _desc_juuyp_29"
      style="--font-size: 1.2rem; --line-height: 1.8;"
    ><p>Để bắt đầu một cách thuận lợi, bạn nên tập trung vào một lộ trình học.
        Ví dụ: Để đi làm với vị trí "Lập trình viên Front-end" bạn nên tập trung
        vào lộ trình "Front-end".</p>
    </div></div><div class="container-body"><div class="_content_j5ws2_1"><div
        class="_wrapper_1qw7z_1"
      ><div class="_body_1qw7z_13"><div class="_info_1qw7z_18"><h2
              class="_title_1qw7z_22"
            ><a href="/learning-paths/front-end-development">Lộ trình học
                Front-end</a></h2><p class="_desc_1qw7z_33">Lập trình viên
              Front-end là người xây dựng ra giao diện websites. Trong phần này
              ITHUB sẽ chia sẻ cho bạn lộ trình để trở thành lập trình viên
              Front-end nhé.</p></div><div class="_thumb-wrap_1qw7z_39"><a
              class="_thumb-round_1qw7z_45"
              href="/learning-paths/front-end-development"
            ><img
                class="_thumb_1qw7z_39"
                src="https://files.fullstack.edu.vn/f8-prod/learning-paths/2/63b4642136f3e.png"
                alt="Lộ trình học Front-end"
              /></a></div></div><div class="_cta_1qw7z_63"><div
            class="_pie-wrapper_1iwxq_1 progress-45 style-2 _progress_chj11_17"
            style="--size: 40px; --progress: 22; --bar-width: 2px; --shadow-bg-hover-color: #d4d4d4;"
          ><div class="_pie_1iwxq_1"><div
                class="_left-side_1iwxq_39 _half-circle_1iwxq_28"
              ></div></div><div class="_shadow_1iwxq_9"></div><div
              class="_body_1iwxq_52"
            ><a
                class="_wrapper_chj11_1"
                href="/learning/lessons-for-newbie"
                style="--progress: grayscale(78%);"
              ><img
                  src="https://files.fullstack.edu.vn/f8-prod/courses/7/6200b81f52d83.png"
                  alt="Kiến Thức Nhập Môn IT"
                /></a></div></div><div
            class="_pie-wrapper_1iwxq_1 progress-45 style-2 _progress_chj11_17"
            style="--size: 40px; --progress: 0; --bar-width: 2px; --shadow-bg-hover-color: #d4d4d4;"
          ><div class="_pie_1iwxq_1"><div
                class="_left-side_1iwxq_39 _half-circle_1iwxq_28"
              ></div></div><div class="_shadow_1iwxq_9"></div><div
              class="_body_1iwxq_52"
            ><a
                class="_wrapper_chj11_1"
                href="/landing/htmlcss"
                style="--progress: grayscale(100%);"
              ><img
                  src="https://files.fullstack.edu.vn/f8-prod/courses/15/62385d6c63dfa.png"
                  alt="HTML CSS Pro"
                /></a></div></div><div
            class="_pie-wrapper_1iwxq_1 progress-45 style-2 _progress_chj11_17"
            style="--size: 40px; --progress: 5; --bar-width: 2px; --shadow-bg-hover-color: #d4d4d4;"
          ><div class="_pie_1iwxq_1"><div
                class="_left-side_1iwxq_39 _half-circle_1iwxq_28"
              ></div></div><div class="_shadow_1iwxq_9"></div><div
              class="_body_1iwxq_52"
            ><a
                class="_wrapper_chj11_1"
                href="/learning/responsive-web-design"
                style="--progress: grayscale(95%);"
              ><img
                  src="https://files.fullstack.edu.vn/f8-prod/courses/3/6200afe1240bb.png"
                  alt="Responsive Với Grid System"
                /></a></div></div><div
            class="_pie-wrapper_1iwxq_1 progress-45 style-2 _progress_chj11_17"
            style="--size: 40px; --progress: 99; --bar-width: 2px; --shadow-bg-hover-color: #d4d4d4;"
          ><div class="_pie_1iwxq_1 _over-half_1iwxq_21"><div
                class="_left-side_1iwxq_39 _half-circle_1iwxq_28"
              ></div><div
                class="_right-side_1iwxq_24 _half-circle_1iwxq_28"
              ></div></div><div class="_shadow_1iwxq_9"></div><div
              class="_body_1iwxq_52"
            ><a
                class="_wrapper_chj11_1"
                href="/learning/javascript-co-ban"
                style="--progress: grayscale(1%);"
              ><img
                  src="https://files.fullstack.edu.vn/f8-prod/courses/1/6200ad9d8a2d8.png"
                  alt="Lập Trình JavaScript Cơ Bản"
                /></a></div></div><div
            class="_pie-wrapper_1iwxq_1 progress-45 style-2 _progress_chj11_17"
            style="--size: 40px; --progress: 18; --bar-width: 2px; --shadow-bg-hover-color: #d4d4d4;"
          ><div class="_pie_1iwxq_1"><div
                class="_left-side_1iwxq_39 _half-circle_1iwxq_28"
              ></div></div><div class="_shadow_1iwxq_9"></div><div
              class="_body_1iwxq_52"
            ><a
                class="_wrapper_chj11_1"
                href="/learning/javascript-nang-cao"
                style="--progress: grayscale(82%);"
              ><img
                  src="https://files.fullstack.edu.vn/f8-prod/courses/12/6200af2620118.png"
                  alt="Lập Trình JavaScript Nâng Cao"
                /></a></div></div><div
            class="_pie-wrapper_1iwxq_1 progress-45 style-2 _progress_chj11_17"
            style="--size: 40px; --progress: 7; --bar-width: 2px; --shadow-bg-hover-color: #d4d4d4;"
          ><div class="_pie_1iwxq_1"><div
                class="_left-side_1iwxq_39 _half-circle_1iwxq_28"
              ></div></div><div class="_shadow_1iwxq_9"></div><div
              class="_body_1iwxq_52"
            ><a
                class="_wrapper_chj11_1"
                href="/learning/windows-terminal-wsl"
                style="--progress: grayscale(93%);"
              ><img
                  src="https://files.fullstack.edu.vn/f8-prod/courses/14/624faac2ee23d.png"
                  alt="Làm việc với Terminal &amp; Ubuntu"
                /></a></div></div><div
            class="_pie-wrapper_1iwxq_1 progress-45 style-2 _progress_chj11_17"
            style="--size: 40px; --progress: 1; --bar-width: 2px; --shadow-bg-hover-color: #d4d4d4;"
          ><div class="_pie_1iwxq_1"><div
                class="_left-side_1iwxq_39 _half-circle_1iwxq_28"
              ></div></div><div class="_shadow_1iwxq_9"></div><div
              class="_body_1iwxq_52"
            ><a
                class="_wrapper_chj11_1"
                href="/learning/reactjs"
                style="--progress: grayscale(99%);"
              ><img
                  src="https://files.fullstack.edu.vn/f8-prod/courses/13/6200af9262b30.png"
                  alt="Xây Dựng Website với ReactJS"
                /></a></div></div></div><div><a
            type="button"
            href="/LearningPath/learningFrontendAndDevelopment"
            class="_wrapper_1kk55_1 _view-detail_1qw7z_83 _primary_1kk55_46 _rounded_1kk55_22"
          ><span class="_inner_1kk55_33"><span class="_title_1kk55_61">Xem chi
                tiết</span></span></a></div></div><div
        class="_wrapper_1qw7z_1"
      ><div class="_body_1qw7z_13"><div class="_info_1qw7z_18"><h2
              class="_title_1qw7z_22"
            ><a href="/learning-paths/back-end-development">Lộ trình học
                Back-end</a></h2><p class="_desc_1qw7z_33">Trái với Front-end
              thì lập trình viên Back-end là người làm việc với dữ liệu, công
              việc thường nặng tính logic hơn. Chúng ta sẽ cùng tìm hiểu thêm về
              lộ trình học Back-end nhé.</p></div><div
            class="_thumb-wrap_1qw7z_39"
          ><a
              class="_thumb-round_1qw7z_45"
              href="/LearningPath/learningBackendAndDevelopment"
            ><img
                class="_thumb_1qw7z_39"
                src="https://files.fullstack.edu.vn/f8-prod/learning-paths/3/63b4641535b16.png"
                alt="Lộ trình học Back-end"
              /></a></div></div><div class="_cta_1qw7z_63"><div
            class="_pie-wrapper_1iwxq_1 progress-45 style-2 _progress_chj11_17"
            style="--size: 40px; --progress: 22; --bar-width: 2px; --shadow-bg-hover-color: #d4d4d4;"
          ><div class="_pie_1iwxq_1"><div
                class="_left-side_1iwxq_39 _half-circle_1iwxq_28"
              ></div></div><div class="_shadow_1iwxq_9"></div><div
              class="_body_1iwxq_52"
            ><a
                class="_wrapper_chj11_1"
                href="/learning/lessons-for-newbie"
                style="--progress: grayscale(78%);"
              ><img
                  src="https://files.fullstack.edu.vn/f8-prod/courses/7/6200b81f52d83.png"
                  alt="Kiến Thức Nhập Môn IT"
                /></a></div></div><div
            class="_pie-wrapper_1iwxq_1 progress-45 style-2 _progress_chj11_17"
            style="--size: 40px; --progress: 99; --bar-width: 2px; --shadow-bg-hover-color: #d4d4d4;"
          ><div class="_pie_1iwxq_1 _over-half_1iwxq_21"><div
                class="_left-side_1iwxq_39 _half-circle_1iwxq_28"
              ></div><div
                class="_right-side_1iwxq_24 _half-circle_1iwxq_28"
              ></div></div><div class="_shadow_1iwxq_9"></div><div
              class="_body_1iwxq_52"
            ><a
                class="_wrapper_chj11_1"
                href="/learning/javascript-co-ban"
                style="--progress: grayscale(1%);"
              ><img
                  src="https://files.fullstack.edu.vn/f8-prod/courses/1/6200ad9d8a2d8.png"
                  alt="Lập Trình JavaScript Cơ Bản"
                /></a></div></div><div
            class="_pie-wrapper_1iwxq_1 progress-45 style-2 _progress_chj11_17"
            style="--size: 40px; --progress: 18; --bar-width: 2px; --shadow-bg-hover-color: #d4d4d4;"
          ><div class="_pie_1iwxq_1"><div
                class="_left-side_1iwxq_39 _half-circle_1iwxq_28"
              ></div></div><div class="_shadow_1iwxq_9"></div><div
              class="_body_1iwxq_52"
            ><a
                class="_wrapper_chj11_1"
                href="/learning/javascript-nang-cao"
                style="--progress: grayscale(82%);"
              ><img
                  src="https://files.fullstack.edu.vn/f8-prod/courses/12/6200af2620118.png"
                  alt="Lập Trình JavaScript Nâng Cao"
                /></a></div></div><div
            class="_pie-wrapper_1iwxq_1 progress-45 style-2 _progress_chj11_17"
            style="--size: 40px; --progress: 7; --bar-width: 2px; --shadow-bg-hover-color: #d4d4d4;"
          ><div class="_pie_1iwxq_1"><div
                class="_left-side_1iwxq_39 _half-circle_1iwxq_28"
              ></div></div><div class="_shadow_1iwxq_9"></div><div
              class="_body_1iwxq_52"
            ><a
                class="_wrapper_chj11_1"
                href="/learning/windows-terminal-wsl"
                style="--progress: grayscale(93%);"
              ><img
                  src="https://files.fullstack.edu.vn/f8-prod/courses/14/624faac2ee23d.png"
                  alt="Làm việc với Terminal &amp; Ubuntu"
                /></a></div></div><div
            class="_pie-wrapper_1iwxq_1 progress-45 style-2 _progress_chj11_17"
            style="--size: 40px; --progress: 69; --bar-width: 2px; --shadow-bg-hover-color: #d4d4d4;"
          ><div class="_pie_1iwxq_1 _over-half_1iwxq_21"><div
                class="_left-side_1iwxq_39 _half-circle_1iwxq_28"
              ></div><div
                class="_right-side_1iwxq_24 _half-circle_1iwxq_28"
              ></div></div><div class="_shadow_1iwxq_9"></div><div
              class="_body_1iwxq_52"
            ><a
                class="_wrapper_chj11_1"
                href="/learning/nodejs"
                style="--progress: grayscale(31%);"
              ><img
                  src="https://files.fullstack.edu.vn/f8-prod/courses/6/6200afb926038.png"
                  alt="Node &amp; ExpressJS"
                /></a></div></div><div
            class="_pie-wrapper_1iwxq_1 progress-45 style-2 _progress_chj11_17"
            style="--size: 40px; --progress: 0; --bar-width: 2px; --shadow-bg-hover-color: #d4d4d4;"
          ><div class="_pie_1iwxq_1"><div
                class="_left-side_1iwxq_39 _half-circle_1iwxq_28"
              ></div></div><div class="_shadow_1iwxq_9"></div><div
              class="_body_1iwxq_52"
            ><a
                class="_wrapper_chj11_1"
                href="/landing/htmlcss"
                style="--progress: grayscale(100%);"
              ><img
                  src="https://files.fullstack.edu.vn/f8-prod/courses/15/62385d6c63dfa.png"
                  alt="HTML CSS Pro"
                /></a></div></div></div><div><a
            type="button"
            href="/LearningPath/learningBackendAndDevelopment"
            class="_wrapper_1kk55_1 _view-detail_1qw7z_83 _primary_1kk55_46 _rounded_1kk55_22"
          ><span class="_inner_1kk55_33"><span class="_title_1kk55_61">Xem chi
                tiết</span></span></a></div></div></div><div
      class="_wrapper_669bc_1"
    ><div class="_info_669bc_9"><h2>Tham gia cộng đồng học viên ITHUB trên Facebook</h2><p
        >Hàng nghìn người khác đang học lộ trình giống như bạn. Hãy tham gia hỏi
          đáp, chia sẻ và hỗ trợ nhau trong quá trình học nhé.</p><a
          class="_cta_669bc_32"
          target="_blank"
          href="https://www.facebook.com/groups/f8official"
          rel="noopener"
        >Tham gia nhóm</a></div><div class="_image_669bc_26"><img
          src="https://fullstack.edu.vn/assets/fb-group-cards-CAn_kGMe.png"
          alt="Học lập trình web"
        /></div></div></div></div>