<div class="container-fluid d-flex">
    <div class="row dangnhap">
        <div class="col-sm text-center mobilde-dangnhap">
            <h1 class="text-title">ITHUB LEARNING</h1>
            <span class="text-description">Tạo ra một nền tảng học tập trực tuyến cho phép người dùng tham gia các khóa học,  theo dõi tiến trình học tập, và tương tác với nhau. Hệ thống sẽ cung cấp các công cụ  thống kê và phân tích dữ liệu, đồng thời tích hợp ChatGPT để hỗ trợ người dùng và quản trị viên  trong quá trình học tập.</span>
        </div>
        <div class="col-sm">
            <form class="form-dangnhap">
                    <legend class="tendangnhap">Đăng Ký</legend>
                    <div class="mb-3 fisrt-input">
                        <input type="text" id="disabledTextInput" class="form-control input-dangnhap" placeholder="Họ tên">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="disabledTextInput" class="form-control input-dangnhap" placeholder="Tên đăng nhập">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="disabledTextInput" class="form-control input-dangnhap" placeholder="Mật khẩu">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="disabledTextInput" class="form-control input-dangnhap" placeholder="Nhập lại mật khẩu">
                    </div>
                    <button type="submit" class="btn btn-dangnhap">Đăng Ký</button>
                    <a class="href-formdangnhap" href="">Bạn đã có tài khoản? Đăng nhập ngay</a>
            </form>
        </div>
    </div>
</div>